* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(33, 82, 155, 0.8); /* Light background to contrast the image */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

h1 {
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

input[type="number"], select {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
    color: #bdc01c;
}
